mixin register()
  -
    const representativeList = [
      {
        text: 'Представитель РАНХиГС',
        value: 'ranepaUniversity',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Представитель другого вуза',
        value: 'anotherUniversity',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Обучающийся',
        value: 'student',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Представитель бизнеса',
        value: 'businessman',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Госслужащий',
        value: 'civilServant',
        ariaSelected: false,
        isActive: false
      },
      {
        text: 'Другое (указать)',
        value: 'other',
        ariaSelected: false,
        isActive: false
      }
    ]

  -
    const ranepaFaculties = [
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 1 — </b>Экономическое сотрудничество и&nbsp;торговая кооперация: проблемы и&nbsp;новые вызовы в&nbsp;условиях глобальной финансовой турбулентности',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 1 —Экономическое сотрудничество и&nbsp;торговая кооперация: проблемы и&nbsp;новые вызовы в&nbsp;условиях глобальной финансовой турбулентности',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 2 — </b> Стратегическая сессия для филиальной сети РАНХиГС',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 2&nbsp;&mdash; Стратегическая сессия для филиальной сети РАНХиГС',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 3&nbsp;&mdash;</b> Стратегические приоритеты обеспечения экономической и национальной безопасности России в современных условиях',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 3&nbsp;&mdash; Стратегические приоритеты обеспечения экономической и национальной безопасности России в современных условиях',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 4&nbsp;&mdash;</b> Цифровая трансформация в&nbsp;муниципальном управлении',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 4&nbsp;&mdash; Цифровая трансформация в&nbsp;муниципальном управлении',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 5&nbsp;&mdash;</b> Региональный и&nbsp;международный опыт формирования ЗОЖ в&nbsp;различных группах населения',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 5&nbsp;&mdash; Региональный и&nbsp;международный опыт формирования ЗОЖ в&nbsp;различных группах населения',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 6&nbsp;&mdash;</b> Государственность в условиях формирования многополярного мира',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 6&nbsp;&mdash; Государственность в условиях формирования многополярного мира',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 7&nbsp;&mdash;</b> Новые приоритеты в&nbsp;развитии международных экономических связей России',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 7&nbsp;&mdash; Новые приоритеты в&nbsp;развитии международных экономических связей России',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 8&nbsp;&mdash;</b> Роль права в&nbsp;формировании многополярности современного мира',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 8&nbsp;&mdash; Роль права в&nbsp;формировании многополярности современного мира',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 9&nbsp;&mdash;</b> Социальные смыслы и&nbsp;идентичности: ценности современного человека',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 9&nbsp;&mdash; Социальные смыслы и&nbsp;идентичности: ценности современного человека',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 10&nbsp;&mdash;</b> Конвергенция как тренд в&nbsp;медиа',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 10&nbsp;&mdash; Конвергенция как тренд в&nbsp;медиа',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 11&nbsp;&mdash;</b> Интерпретация истории как стратегия управления общественными отношениями',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 11&nbsp;&mdash; Интерпретация истории как стратегия управления общественными отношениями',
        extra: 'custom-toggle--checkbox'
      },
      {
        id: 'ranepaFaculties_sect',
        label: '<b>Секция 12&nbsp;&mdash;</b> Креативные индустрии как драйвер территориального развития в&nbsp;парадигме неоиндустриального общества',
        type: 'checkbox',
        isChecked: false,
        name: 'sections',
        value: 'Секция 12&nbsp;&mdash; Креативные индустрии как драйвер территориального развития в&nbsp;парадигме неоиндустриального общества',
        extra: 'custom-toggle--checkbox'
      },
    ]

  -
    const mainDay = [
      {
        id: 'mainDay_sect',
        label: '<b>Секция 1 — </b> Цифровизация кадрового обеспечения государственной службы',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_day',
        value: 'Секция 1 — Цифровизация кадрового обеспечения государственной службы',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 2 — </b> Таможня и&nbsp;внешняя торговля: ломаем преграды',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_day',
        value: 'Секция 2 — Таможня и&nbsp;внешняя торговля: ломаем преграды',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 3 — </b> Повестка социального неравенства в&nbsp;современном мире глазами молодых',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_day',
        value: 'Секция 3 — Повестка социального неравенства в&nbsp;современном мире глазами молодых',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 4 — </b> Молодая Арктика',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_day',
        value: 'Секция 4 — Молодая Арктика',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 5 — </b> Развитие социальной сферы, &laquo;Главное-человек&raquo;',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_evening',
        value: 'Секция 5 — Развитие социальной сферы, &laquo;Главное-человек&raquo;',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 6 — </b> Бизнес-секция: научные и&nbsp;индустриальные партнеры',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_evening',
        value: 'Секция 6 — Бизнес-секция: научные и&nbsp;индустриальные партнеры',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 7 — </b> Эффективное управление мегаполисом для снижения негативного воздействия на&nbsp;окружающую среду и&nbsp;здоровье человека',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_evening',
        value: 'Секция 7 — Эффективное управление мегаполисом для снижения негативного воздействия на&nbsp;окружающую среду и&nbsp;здоровье человека',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
      {
        id: 'mainDay_sect',
        label: '<b>Секция 8 — </b> Университетский менеджмент в&nbsp;России: вызовы и&nbsp;пути решения',
        type: 'checkbox',
        isChecked: false,
        name: 'sections-mainDay_evening',
        value: 'Секция 8 — Университетский менеджмент в&nbsp;России: вызовы и&nbsp;пути решения',
        extra: 'custom-toggle--checkbox custom-toggle--single'
      },
    ]

  .register(data-form-validate, phoneLength)
    .container
      h1.register__headine Регистрация на&nbsp;VII Международный Невский&nbsp;Форум
      form.register__form(method="POST")
        fieldset.register__fieldset
          legend.register__title.register__title--hidden Данные для регистрации

          +custom-input({
            inputLabel: 'Фамилия',
            inputId: 'lastname',
            inputName: 'lastname',
            isRequired: true
          })(class="register__input register__input--uppercase",
            data-validate-type="text",
            data-required
          )

          +custom-input({
            inputLabel: 'Имя',
            inputId: 'name',
            inputName: 'name',
            isRequired: true
          })(class="register__input register__input--uppercase",
            data-validate-type="text",
            data-required
          )

          +custom-input({
            inputLabel: 'Отчество',
            inputId: 'surname',
            inputName: 'surname',
            isRequired: true
          })(class="register__input register__input--uppercase",
            data-validate-type="text",
            data-required
            )

          +custom-select({
            label: 'Представьтесь',
            optionsList: representativeList,
          })(class="custom-select",
            data-validate-type="select",
            data-required,
            data-select='person',
            data-name='role'
            )

          +custom-input({
            inputId: 'yourOwnVersion',
            inputName: 'role',
            inputPlaceholder: 'Представьтесь',
            isRequired: true,
          })(class="register__input is-hidden",
            data-validate-type="text",
            data-required,
            data-input='person'
            )

          +custom-input({
            inputLabel: 'Место работы/учебы',
            inputId: 'workplace',
            inputName: 'workplace',
            isRequired: true
          })(class="register__input",
            data-validate-type="text",
            data-required
            )

          +custom-input({
            inputLabel: 'Должность',
            inputId: 'position',
            inputName: 'position',
            isRequired: true
          })(class="register__input",
            data-validate-type="text",
            data-required
            )

          +custom-select({
            label: 'Регион',
            optionsList: regions,
          })(class="custom-select",
            data-validate-type="select",
            data-required,
            data-select='',
            data-name="region"
            )

          +custom-input({
            inputLabel: 'Ваш e-mail',
            inputId: 'email',
            inputName: 'email',
            isRequired: true
          })(class="register__input",
            data-validate-type="email",
            data-required
            )

          +custom-input({
            inputLabel: 'Контактный телефон',
            inputId: 'phone',
            inputName: 'phone',
            inputPlaceholder: '+7 (111) 111 11 11',
            isRequired: true
          })(class="register__input",
            data-validate-type="phone",
            data-required
            )

        fieldset.register__fieldset(data-validate-type="toggle-group", data-tabs="sections-tabs")
          legend.register__title Выберите дату участия
          p.register__error-title-wrap
            span.register__error-text

          +custom-toggle({
            inputId: 'internationalConference',
            inputLabel: '21 июня (Международная конференция)',
            inputType: 'checkbox',
            inputChecked: true,
            inputName: 'date_21',
            inputValue: '21 июня (Международная конференция)'
          })(class="custom-toggle--checkbox", data-required)

          +custom-toggle({
            inputId: 'ranepaFaculties',
            inputLabel: '22 июня (Секции факультетов РАНХиГС)',
            inputType: 'checkbox',
            inputChecked: false,
            inputName: 'date_22',
            inputValue: '22 июня (Секции факультетов РАНХиГС)'
          })(class="custom-toggle--checkbox", data-required)

          +custom-toggle({
            inputId: 'mainDay',
            inputLabel: '23 июня (Основной день Форума)',
            inputType: 'checkbox',
            inputChecked: false,
            inputName: 'date_23',
            inputValue: '23 июня (Основной день Форума)'
          })(class="custom-toggle--checkbox", data-required)

        fieldset.register__fieldset(data-sections="panel")
          legend.register__title Укажите мероприятия, в&nbsp;которых&nbsp;Вы будете участвовать

          .register__sections-wrapper(data-validate-type="toggle-group", data-sections-tab="internationalConference")
            .register__sections
              h2.register__sections-title 21 июня:
              p.register__error-title-wrap
                span.register__error-text
              +custom-toggle({
                inputId: 'internationalConference_sect-1',
                inputLabel: '<b>Секция 1 — </b> Международная конференция, посвященная вопросам интернационализации вузов',
                inputType: 'checkbox',
                inputChecked: false,
                inputName: 'date_21_s_1',
            })(class="custom-toggle--checkbox", data-required)

          .register__sections-wrapper.is-hidden(data-validate-type="toggle-group", data-sections-tab="ranepaFaculties")
            .register__sections
              h2.register__sections-title 22 июня:
              p.register__error-title-wrap
                span.register__error-text

              each item, index in ranepaFaculties
                +custom-toggle({
                  inputId: item.id + '-' + (index + 1),
                  inputLabel: item.label,
                  inputType: item.type,
                  inputChecked: item.isChecked,
                  inputName: 'date_22_s_' + (index + 1),
                })(class="custom-toggle--checkbox", data-required)

          .register__sections-wrapper.is-hidden(data-sections-tab="mainDay")
            .register__section
              h2.register__sections-title 23 июня:
              .register__section
                h3.register__sections-subtitle Дневная сессия
                each item, index in mainDay
                  if index < 4
                    +custom-toggle({
                      inputId: item.id + '-' + (index + 1),
                      inputLabel: item.label,
                      inputType: item.type,
                      inputChecked: item.isChecked,
                      inputName: 'date_23_s_' + (index + 1),
                    })(class= item.extra)
              .register__section
                h3.register__sections-subtitle Вечерняя сессия
                each item, index in mainDay
                  if index >= 4
                    +custom-toggle({
                      inputId: item.id + '-' + (index + 1),
                      inputLabel: item.label,
                      inputType: item.type,
                      inputChecked: item.isChecked,
                      inputName: 'date_23_s_' + (index + 1),
                    })(class= item.extra)

        fieldset.register__fieldset.is-hidden(data-sections-tab="mainDay")
          legend.register__title Паспортные данные
          p.register__text-alert Пропускной режим в&nbsp;Президентскую библиотеку требует предъявления оригинала документа, удостоверяющего личность (паспорт гражданина&nbsp;РФ или гражданина иностранного государства). Просим заполнить следующую информацию

          +custom-input({
            inputLabel: 'Серия паспорта',
            inputId: 'passportSeries',
            inputType: 'number',
            inputName: 'passportSeries',
            inputMaxLength: 4,
            isRequired: true
          })(class="register__input",
            data-required,
            data-validate-type="number",
          )

          +custom-input({
            inputLabel: 'Номер паспорта',
            inputId: 'passportID',
            inputName: 'passportID',
            inputType: 'number',
            inputMaxLength: 6,
            isRequired: true
          })(class="register__input",
            data-required,
            data-validate-type="number",
          )

          +custom-input({
            inputLabel: 'Дата рождения',
            inputId: 'birthday',
            inputName: 'birthday',
            isRequired: true,
            inputDataDate: 'date',
            inputMinLength: 10,
          })(class="register__input",
            data-required,
            data-validate-type="text"
            )

          +custom-input({
            inputLabel: 'Место рождения (как указано в паспорте)',
            inputId: 'placeOfBirth',
            inputName: 'placeOfBirth',
            isRequired: true
          })(class="register__input",
            data-required,
            data-validate-type="text"
            )

          +custom-input({
            inputLabel: 'Страна проживания',
            inputId: 'countryResidence',
            inputName: 'countryResidence',
            isRequired: true
          })(class="register__input",
            data-required,
            data-validate-type="text"
            )

          +custom-input({
            inputLabel: 'Адрес регистрации',
            inputId: 'registrationAddress',
            inputName: 'countryResidence',
            isRequired: true
          })(class="register__input",
            data-required,
            data-validate-type="text"
            )

          +custom-toggle({
            inputId: 'consentPersonalData',
            inputLabel: '<a href="#" target="_blank" rel="nofollow noopener noreferrer">Я подтверждаю свое согласие&nbsp; </a>на обработку моих указанных в анкете персональных данных в соответствии со ст. 9 Федерального закона «О персональных данных» от 27.07.2006 г. №152-ФЗ',
            inputType: 'checkbox',
            inputChecked: false,
            inputName: 'consentPersonalData',
            inputValue: '22 июня (Секции факультетов РАНХиГС)'
          })(class="custom-toggle--checkbox custom-toggle--checkbox-agree"
            data-required,
            data-validate-type="checkbox"
          )

        +btn({
          text: 'Зарегистрироваться',
          type: 'submit'
        })
